
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Template mailing KAPYBox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    /* Fonts and Content */
    body, td { font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size:14px; }
    body { background-color: #2A374E; margin: 0; padding: 0; -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
    h2{ padding-top:12px; /* ne fonctionnera pas sous Outlook 2007+ */color:#0E7693; font-size:22px; }

    </style>
   
</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">

    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:rgb(42, 55, 78)" >
        <tbody>
            <tr>
                <td align="center" bgcolor="#2A374E">
                    <table  cellpadding="0" cellspacing="0" border="0">
                        <tbody>                            
                            <tr>
                                <td class="w640"  width="640" height="10"></td>
                            </tr>


                            <!-- entete -->
                            <tr class="pagetoplogo">
                                <td class="w640"  width="640">
                                    <table  class="w640"  width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#F2F0F0">
                                        <tbody>
                                            <tr>
                                                <!-- <td class="w30"  width="30"></td> -->
                                                <td class="w275"  width="275" valign="top">
                                                    <div align="left" class="pagetoplogo-content">
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30%" height="0%" viewBox="0 0 500 500" enable-background="new 0 0 595.28 595.28" xml:space="preserve">
                                                            <g id="Calque_1">
                                                                <circle fill="#5D91CC" stroke="#FFFFFF" stroke-width="16" stroke-miterlimit="10" cx="270.058" cy="298.42" r="191"></circle>
                                                                <g>

                                                                        <ellipse fill="#5B4E59" stroke="#000000" stroke-width="3" stroke-miterlimit="10" cx="270.131" cy="314.703" rx="93.953" ry="83.302"></ellipse>
                                                                    <g>
                                                                        <path fill="#5B4E59" d="M297.975,255.689c-4.1-20.493,43.444-38.527,59.019-32.788c28.689,11.476,13.935,42.625-5.738,53.281"></path>
                                                                        <g>
                                                                            <path d="M299.424,255.301c-1.84-10.938,9.248-18.85,17.534-23.498c10.158-5.697,23.19-10.26,34.994-9.142
                                                                                c12.146,1.15,20.741,12.757,19.429,24.445c-1.351,12.025-10.748,23.051-20.986,28.785c-1.694,0.949,0.941,1.018,1.723,0.58
                                                                                c11.217-6.282,20.778-17.71,22.249-30.801c1.451-12.918-9.696-23.669-22.165-24.481c-12.242-0.797-25.31,3.934-35.981,9.501
                                                                                c-9.08,4.737-21.688,13.532-19.693,25.386C296.655,256.842,299.571,256.175,299.424,255.301L299.424,255.301z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <path fill="#AF7BA1" d="M314.116,256.659c0-13.936,25.41-25.412,37.706-25.412c28.69,0.82-0.818,27.871-11.476,36.068"></path>
                                                                        <g>
                                                                            <path d="M315.579,256.53c0.392-9.528,10.171-15.614,17.83-19.351c7.471-3.645,19.256-7.757,27.044-2.811
                                                                                c10.584,6.721-16.333,28.685-21.052,32.345c-1.557,1.208,0.816,2.036,1.891,1.203c5.651-4.384,35.724-29.291,19.839-36.022
                                                                                c-9.317-3.948-20.332-0.29-28.97,3.71c-8.356,3.87-19.087,10.946-19.508,21.184C312.594,258.228,315.529,257.749,315.579,256.53
                                                                                L315.579,256.53z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <path fill="#5B4E59" d="M242.142,254.07c4.099-20.493-43.444-38.527-59.02-32.788c-28.689,11.476-13.935,42.625,5.738,53.281"></path>
                                                                        <g>
                                                                            <path d="M243.579,253.846c1.98-11.772-10.34-20.392-19.369-25.103c-10.722-5.594-24.393-10.582-36.725-9.019
                                                                                c-11.697,1.482-21.743,10.956-21.851,22.979c-0.121,13.417,10.766,26.165,21.869,32.383c0.792,0.444,3.262-0.741,2.714-1.048
                                                                                c-10.225-5.727-18.539-15.63-21.135-27.187c-2.882-12.831,6.696-25.458,19.979-25.958c11.802-0.444,24.446,4.39,34.572,10.069
                                                                                c8.145,4.568,18.861,12.691,17.072,23.332C240.555,255.181,243.442,254.657,243.579,253.846L243.579,253.846z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <path fill="#AF7BA1" d="M226.084,253.92c0-13.936-25.411-25.412-37.706-25.412c-28.691,0.82,0.819,27.871,11.476,36.067"></path>
                                                                        <g>
                                                                            <path d="M227.547,253.792c-0.439-10.683-11.485-17.457-20.14-21.465c-8.476-3.925-19.083-6.857-28.112-3.031
                                                                                c-16.281,6.899,13.572,31.536,19.432,36.082c0.943,0.732,3.527-0.614,2.252-1.603c-5.134-3.983-31.14-24.776-21.414-32.345
                                                                                c6.899-5.369,19.996-0.091,26.723,3.025c7.717,3.573,17.942,10.096,18.333,19.595
                                                                                C224.681,255.503,227.596,254.988,227.547,253.792L227.547,253.792z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <path fill="#5B4E59" d="M238.648,250.756c14.788-9.506,24.293-19.012,33.8-33.799c0,3.169,2.11,8.45,2.11,10.562
                                                                            c3.169-3.168,8.451-4.224,10.563-6.336c7.393,4.224,15.842-2.113,23.235-5.282c-2.113,3.169-4.225,7.394-7.393,10.563
                                                                            c4.226-2.113,10.562-2.113,14.787-4.226c0,1.057,0,2.112,0,3.169c1.056,0,4.224,1.057,5.28,2.112
                                                                            c1.056,16.9-8.45,22.181-23.236,33.799c2.112-3.168,2.112-7.394,4.223-10.562c-5.28-1.056-3.167-4.225-5.28-6.337"></path>
                                                                        <g>
                                                                            <path d="M239.599,251.378c13.974-9.085,25.144-20.306,34.229-34.278c-0.943,0.082-1.886,0.164-2.828,0.245
                                                                                c0.232,3.624,1.791,6.969,2.11,10.562c0.088,0.99,1.951,0.63,2.399,0.234c3.156-2.786,7.373-3.668,10.563-6.336
                                                                                c-0.691,0.063-1.382,0.127-2.074,0.191c8.797,4.227,17.055-1.722,24.988-5.285c-0.67-0.318-1.339-0.636-2.009-0.954
                                                                                c-2.287,3.551-4.333,7.19-7.218,10.31c-1.119,1.21,1.045,1.552,1.834,1.206c4.737-2.078,10.037-2.143,14.787-4.226
                                                                                c-0.698-0.229-1.396-0.458-2.095-0.688c0,1.056,0,2.112,0,3.169c0,0.564,0.429,0.828,0.953,0.892
                                                                                c5.011,0.609,4.609,3.817,4.125,7.979c-0.461,3.956-2.157,7.57-4.513,10.734c-4.687,6.293-11.899,10.786-18.007,15.561
                                                                                c0.777,0.255,1.553,0.511,2.33,0.766c1.902-3.347,2.323-7.219,4.223-10.562c0.261-0.459-0.067-0.959-0.534-1.088
                                                                                c-3.762-1.032-2.853-3.539-4.795-6.019c-0.779-0.994-3.546,0.121-2.659,1.253c1.468,1.873,1.171,4.061,3.113,5.662
                                                                                c1.794,1.479,1.29,1.173,0.41,3.804c-0.77,2.302-1.309,4.54-2.516,6.663c-0.752,1.323,1.725,1.238,2.33,0.766
                                                                                c7.515-5.875,16.315-11.389,21.067-19.937c2.221-3.994,2.786-8.654,2.748-13.146c-0.027-3.244-3.409-4.114-6.299-4.465
                                                                                c0.317,0.297,0.636,0.594,0.953,0.892c0-1.056,0-2.112,0-3.169c0-1.073-1.4-0.993-2.095-0.688
                                                                                c-4.737,2.077-10.038,2.142-14.787,4.226c0.611,0.402,1.223,0.804,1.834,1.206c3.03-3.278,5.163-7.082,7.567-10.815
                                                                                c0.762-1.182-1.45-1.205-2.009-0.954c-6.5,2.919-14.173,8.79-21.482,5.279c-0.64-0.308-1.502-0.287-2.074,0.191
                                                                                c-3.178,2.658-7.401,3.545-10.563,6.336c0.8,0.078,1.6,0.156,2.399,0.234c-0.319-3.593-1.877-6.938-2.11-10.562
                                                                                c-0.086-1.337-2.444-0.345-2.828,0.245c-8.845,13.604-19.768,24.476-33.372,33.319
                                                                                C236.049,251.206,238.46,252.118,239.599,251.378L239.599,251.378z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <path fill="#FFFFFF" d="M326.56,302.823c0.871-6.09,3.19-14.211,0.871-20.301c-2.9-7.83-15.082-11.311-22.332-12.47
                                                                            c-9.279-1.451-15.369,2.61-17.401,11.89c-1.448,6.09-3.189,16.821-2.029,22.911c8.12,0.29,16.531-0.29,24.942-0.29
                                                                            c3.479,0,16.529,1.74,15.949-2.32"></path>
                                                                        <g>
                                                                            <path d="M328.015,302.664c1.406-9.042,4.507-19.333-3.4-26.208c-5.597-4.866-14.423-7.054-21.658-7.568
                                                                                c-6.818-0.485-12.611,3.025-15.434,9.159c-3.504,7.616-4.588,18.975-3.303,27.195c0.058,0.371,0.61,0.498,0.905,0.506
                                                                                c10.261,0.285,20.497-0.494,30.752,0.011c2.772,0.137,12.074,0.967,12.138-3.675c0.018-1.314-2.896-0.743-2.91,0.318
                                                                                c-0.035,2.602-23.565,1.439-25.567,1.495c-3.186,0.088-6.37,0.143-9.557,0.139c-4.425-0.005-3.306-3.609-3.141-7.117
                                                                                c0.239-5.088,1.173-10.181,2.313-15.136c1.312-5.699,4.451-10.26,10.593-11.059c5.077-0.66,11.167,1.421,15.82,3.282
                                                                                c4.953,1.981,9.218,5.116,10.872,10.344c1.838,5.808-0.429,12.819-1.333,18.632C324.91,304.231,327.846,303.747,328.015,302.664
                                                                                L328.015,302.664z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <path d="M317.01,303.807c0.895-7.158,3.821-13.56-1.847-19.227c-5.368-4.772-13.422-6.86-20.58-6.86
                                                                            c-9.544,0-8.053,11.335-8.352,18.493c0,1.789-0.297,4.176,0,5.667c0.895,3.878-0.143,2.16,3.734,3.055
                                                                            c3.877,0.895,8.73-0.354,12.907,0.54c3.28,0.596,11.823,0.187,14.209-1.305"></path>
                                                                        <g>
                                                                            <path d="M318.458,303.623c0.824-5.731,2.815-11.459,0.088-16.958c-2.273-4.582-8.292-6.883-12.831-8.302
                                                                                c-7.855-2.456-18.106-3.049-20.328,6.594c-1.062,4.608-0.499,9.688-0.715,14.385c-0.159,3.468-0.2,5.789,3.286,6.161
                                                                                c5.663,0.605,11.367,0.751,17.071,1.03c4.015,0.197,8.961,0.07,12.623-1.776c1.795-0.905,0.136-1.819-1.141-1.176
                                                                                c-3.01,1.518-7.065,1.378-10.352,1.322c-4.196-0.071-8.331-0.468-12.563-0.448c-1.719,0.008-3.305-0.55-4.997-0.636
                                                                                c-0.78-0.039-0.48-0.214-0.683-1.232c-0.743-3.731-0.207-7.848-0.164-11.66c0.031-2.793,0.225-5.554,1.034-8.239
                                                                                c1.884-6.253,10.588-3.971,15.149-2.763c5.401,1.43,10.914,4.561,12.779,10.081c1.446,4.281-0.535,9.679-1.154,13.985
                                                                                C315.398,305.124,318.317,304.598,318.458,303.623L318.458,303.623z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <path fill="#FFFFFF" d="M296.075,277.719c5.51,0.291,14.5,4.64,14.791,11.021c0.29,6.09-6.961,6.09-11.312,5.51
                                                                            c-11.889-1.45-15.66-16.821-1.16-15.37"></path>
                                                                        <g>
                                                                            <path d="M295.537,278.638c5.001,0.395,10.767,3.095,13.172,7.697c1.298,2.484,0.931,5.838-1.983,6.824
                                                                                c-2.077,0.703-4.5,0.435-6.634,0.172c-4.144-0.509-8.007-3.261-9.343-7.277c-1.662-4.994,3.044-6.574,7.107-6.256
                                                                                c1.236,0.097,3.039-1.683,1.075-1.837c-4.555-0.356-11.703,0.939-11.387,6.953c0.312,5.939,6.16,9.467,11.471,10.254
                                                                                c4.757,0.705,13.98,0.115,13.299-6.817c-0.702-7.142-9.39-11.052-15.702-11.551
                                                                                C295.376,276.703,293.573,278.482,295.537,278.638L295.537,278.638z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <path fill="#FFFFFF" d="M304.135,293.979c3.769-0.87,8.699,0.58,9.569,4.641c0.871,4.64-4.06,5.51-7.83,5.51
                                                                            c-3.19,0-8.409-0.87-8.409-5.221c0.29-4.06,6.669-4.64,9.86-4.64"></path>
                                                                        <g>
                                                                            <path d="M303.91,294.684c3.556-0.662,7.27,0.636,8.345,4.325c1.281,4.396-4.639,4.556-7.436,4.297
                                                                                c-2.855-0.264-6.363-1.79-5.81-5.25c0.483-3.022,5.438-3.028,7.729-3.052c0.964-0.01,3.123-1.488,1.174-1.468
                                                                                c-3.791,0.04-9.356,0.463-11.473,4.166c-2.868,5.019,4.984,6.979,8.228,7.151c3.669,0.196,9.602-0.535,10.547-4.873
                                                                                c1.283-5.89-6.848-7.452-10.854-6.705C303.074,293.515,301.901,295.058,303.91,294.684L303.91,294.684z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <path fill="#FFFFFF" d="M225.823,303.547c-0.87-6.09-3.19-14.211-0.87-20.301c2.9-7.83,15.081-11.311,22.331-12.47
                                                                            c9.28-1.45,15.371,2.61,17.401,11.89c1.449,6.09,3.189,16.821,2.03,22.911c-8.121,0.29-16.531-0.29-24.942-0.29
                                                                            c-3.48,0-16.531,1.741-15.95-2.32"></path>
                                                                        <g>
                                                                            <path d="M227.272,303.159c-1.175-7.558-4.244-16.936,1.276-23.467c4.536-5.368,13.271-7.351,19.928-8.209
                                                                                c8.726-1.124,13.262,5.064,15.018,12.692c1.589,6.899,2.868,14.512,1.767,21.561c0.666-0.351,1.333-0.703,1.999-1.054
                                                                                c-8.506,0.236-17-0.447-25.501-0.279c-2.241,0.044-14.434,1.856-14.48-1.596c-0.018-1.321-2.923-0.734-2.909,0.318
                                                                                c0.057,4.217,7.71,3.487,10.367,3.385c10.486-0.399,20.948,0.251,31.436-0.04c0.638-0.018,1.872-0.238,1.999-1.054
                                                                                c1.33-8.51-0.172-18.948-3.221-26.963c-2.633-6.922-9.265-9.227-16.121-8.739c-6.929,0.493-15.589,3.14-20.897,7.755
                                                                                c-8.024,6.978-4.988,17.254-3.556,26.464C224.545,305.036,227.455,304.336,227.272,303.159L227.272,303.159z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <path d="M235.373,304.531c-0.895-7.158-3.821-13.56,1.847-19.227c5.369-4.772,13.421-6.86,20.581-6.86
                                                                            c9.544,0,8.053,11.334,8.352,18.493c0,1.789,0.297,4.176,0,5.667c-0.895,3.878,0.144,2.16-3.734,3.055
                                                                            c-3.878,0.895-8.731-0.354-12.906,0.541c-3.281,0.597-11.825,0.186-14.21-1.305"></path>
                                                                        <g>
                                                                            <path d="M236.822,304.143c-0.607-4.221-1.81-8.383-1.425-12.68c0.601-6.704,8.198-9.825,13.792-11.305
                                                                                c4.179-1.106,10.167-2.147,13.271,1.552c2.021,2.41,2.035,6.485,2.147,9.436c0.115,3.041,0.068,6.083,0.208,9.125
                                                                                c0.041,0.883-0.937,4.364,0.111,4.311c-2.224,0.113-4.37,0.639-6.619,0.628c-6.678-0.032-15.632,2.14-21.845-0.991
                                                                                c-0.794-0.4-3.469,0.771-2.32,1.35c3.546,1.787,8.197,1.717,12.073,1.651c6.051-0.103,12.1-0.808,18.121-1.112
                                                                                c2.563-0.129,2.775-1.438,3.262-3.699c0.964-4.48,0.118-10.674-0.293-15.251c-1.013-11.282-11.316-10.24-19.927-7.961
                                                                                c-5.156,1.365-10.394,4.098-13.433,8.578c-3.326,4.901-0.774,11.898-0.02,17.146
                                                                                C234.055,305.828,236.969,305.165,236.822,304.143L236.822,304.143z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <path fill="#FFFFFF" d="M256.309,278.444c-5.511,0.29-14.501,4.64-14.79,11.02c-0.291,6.09,6.96,6.09,11.311,5.511
                                                                            c11.89-1.451,15.66-16.821,1.159-15.371"></path>
                                                                        <g>
                                                                            <path d="M256.478,277.534c-6.362,0.502-14.182,4.128-16.2,10.647c-2.368,7.649,7.458,8.309,12.383,7.704
                                                                                c5.401-0.664,10.999-4.186,12.102-9.835c1.229-6.295-5.974-7.717-10.604-7.355c-1.513,0.119-2.333,1.976-0.338,1.82
                                                                                c4.02-0.314,8.64,0.95,8.029,5.839c-0.537,4.294-4.914,7.128-8.851,7.711c-4.611,0.683-11.083,0.075-9.807-6.188
                                                                                c1.066-5.23,8.268-8.153,12.949-8.522C257.653,279.235,258.474,277.377,256.478,277.534L256.478,277.534z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <path fill="#FFFFFF" d="M245.539,293.021c-4.108-0.948-9.482,0.632-10.43,5.058c-0.949,5.056,4.425,6.005,8.534,6.005
                                                                            c3.477,0,9.166-0.949,9.166-5.689c-0.316-4.425-7.27-5.057-10.747-5.057"></path>
                                                                        <g>
                                                                            <path d="M246.445,292.306c-4.7-0.875-10.386,0.468-12.531,5.134c-2.829,6.156,5.883,7.435,9.817,7.366
                                                                                c4.255-0.074,10.132-1.575,10.519-6.62c0.39-5.086-8.338-5.548-11.602-5.583c-0.971-0.01-3.125,1.448-1.174,1.468
                                                                                c2.868,0.03,5.982,0.292,8.398,1.986c1.418,0.995,1.627,2.586,1.243,4.151c-0.544,2.22-3.208,2.793-5.112,3.052
                                                                                c-2.907,0.395-6.682,0.131-8.811-2.089c-1.416-1.477-0.638-3.976,0.306-5.43c1.517-2.336,4.708-2.457,7.134-2.005
                                                                                C245.437,293.886,248.031,292.602,246.445,292.306L246.445,292.306z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <path d="M254.287,328.459c1.799,16.188,23.384,25.632,32.825,10.343c7.195-11.242,0-12.141-10.343-12.141
                                                                            c-7.643,0-15.738-0.45-23.382,1.798"></path>
                                                                        <g>
                                                                            <path d="M252.838,328.847c2.18,15.353,21.28,25.138,33.216,13.289c4.349-4.318,8.838-13.226,0.745-15.669
                                                                                c-4.636-1.399-10.102-0.787-14.861-0.82c-6.36-0.045-12.625,0.258-18.794,1.903c-1.775,0.474-1.287,2.292,0.487,1.819
                                                                                c8.571-2.285,17.679-1.945,26.479-1.66c2.577,0.083,5.915,0.142,7.818,2.135c2.554,2.674-1.932,8.623-3.478,10.652
                                                                                c-9.838,12.917-26.99-0.283-28.715-12.425C255.561,326.84,252.653,327.55,252.838,328.847L252.838,328.847z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <g>
                                                                            <path d="M270.375,344.883c0.761,5.032,1.366,10.475-1.217,15.099c-2.988,5.349-10.772,6.254-16.287,6.116
                                                                                c-7.083-0.177-22.601-3.145-16.493-13.325c0.18-0.299-2.43-0.175-2.853,0.529c-7.111,11.852,13.242,14.242,20.739,13.889
                                                                                c5.315-0.25,11.244-1.736,15.47-5.083c5.29-4.189,4.422-12.164,3.539-18.002C273.192,343.573,270.27,344.189,270.375,344.883
                                                                                L270.375,344.883z"></path>
                                                                        </g>
                                                                    </g>
                                                                    <g>
                                                                        <g>
                                                                            <path d="M271.249,345.935c-0.043,6.056-1.748,14.148,2.94,18.976c5.165,5.318,16.007,4.962,22.799,4.685
                                                                                c7.323-0.298,14.464-4.066,14.261-12.176c-0.161-6.463-5.631-9.809-11.308-7.105c-1.783,0.85-0.2,2.577,1.322,1.853
                                                                                c7.056-3.361,8.221,7.305,5.507,11.341c-3.702,5.508-13.773,3.924-19.297,3.429c-5.188-0.465-11.133-1.555-12.913-7.142
                                                                                c-1.373-4.313-0.397-9.597-0.366-14.042C274.207,344.156,271.259,344.529,271.249,345.935L271.249,345.935z"></path>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                            <g id="Calque_2">
                                                            </g>
                                                            </svg>
                                                        <h2 style="color:#0E7693; font-size:22px;padding-top: 0;padding-left: 40px;">KAPYBox</h2>
                                                    </div>
                                                </td> 
                                                <td class="w30"  width="30"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <!-- separateur horizontal -->
                            <tr>
                                <td  class="w640"  width="640" height="1" bgcolor="#d7d6d6"></td>
                            </tr>

                             <!-- contenu -->
                            <tr class="content">
                                <td class="w640" class="w640"  width="640" bgcolor="#ffffff">
                                    <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td  class="w30"  width="30"></td>
                                                <td  class="w580"  width="580">
                                                    <!-- une zone de contenu -->
                                                    <table class="w580"  width="580" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>                                                            
                                                            <tr>
                                                                <td colspan="5">
                                                                    <h2 style="color:#0E7693; font-size:22px; padding-top:12px;">
                                                                        Hello, </br> 
                                                                        {{MAIL}}</h2>
                                                                        <p> Sent new file available on our Web site :<a href="{{LIENSITE}}">KAPYBox</a> </p>
                                                                </td>

                                                            <tr>
                                                            <tr>
                                                                <td colspan="5" class="w580"  width="580" height="1" bgcolor="#c7c5c5"></td>
                                                            </tr>
                                                                <td class="w275"  width="275" valign="top">
                                                                    <div align="left" class="article-content">
                                                                        <a href="{{LIEN}}"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80%" height="80%" viewBox="0 0 58.39 58.39" style="enable-background:new 0 0 58.39 58.39;" xml:space="preserve">
                                                                            <g>
                                                                                <g>
                                                                                    <polygon style="fill:#556080;" points="25,9.695 20,2.695 0,2.695 0,9.695 0,53.695 58,53.695 58,16.695 30,16.695         "/>
                                                                                    <polygon style="fill:#3D4451;" points="30,16.695 58,16.695 58,9.695 25,9.695        "/>
                                                                                </g>
                                                                                <g>
                                                                                    <rect x="36.39" y="33.695" style="fill:#21AE5E;" width="22" height="22"/>
                                                                                    <rect x="46.39" y="35.281" style="fill:#FFFFFF;" width="2" height="16"/>
                                                                                    <polygon style="fill:#FFFFFF;" points="47.39,52.695 40.39,45.988 41.865,44.574 47.39,49.867 52.914,44.574 54.39,45.988      "/>
                                                                                </g>
                                                                            </g>
                                                                        </svg></a>
                                                                        <a href="{{LIEN}}">Download</a>

                                                                        
                                                                    </div>
                                                                </td>
                                                                <td class="w30"  width="30" class="w30"></td>
                                                                <td class="w275"  width="275" valign="top">
                                                                    <div align="left" class="article-content">
                                                                        <ul>
                                                                            <li> Creation date : {{DATECREA}}</li>
                                                                            <!-- <li> Taille : {{TAILLE}}</li> -->
                                                                            <li> Deletion date : {{DATESUPP}}</li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3" class="w580" height="1" bgcolor="#c7c5c5"></td>
                                                            </tr>

                                                        </tbody>
                                                    </table>

                                                    <table class="w580"  width="580" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>
                                                           
                                                            <tr>
                                                                <td >
                                                                    <div align="left" class="article-content">
                                                                        <p>For more information : <a href="{{LIENSITE}}">KAPYBox</a></p>
                                                                       <!--  <p>Do not hesitate to contact us if you need any assistance : <a href="{{MAILSITE}}">{{MAILSITE}}</a></p> -->
                                                                        <p>Yours sincerely.</p>
                                                                    </div>
                                                                </td>
                                                            <tr>
                                                                <td colspan="5" class="w580"  width="580" height="1" bgcolor="#c7c5c5"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td class="w30" class="w30"  width="30"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <!--  separateur horizontal de 15px de  haut-->
                            <tr>
                                <td class="w640"  width="640" height="15" bgcolor="#ffffff"></td>
                            </tr>

                            <!-- pied de page -->
                            <tr class="pagebottom">
                                <td class="w640"  width="640">
                                    <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#c7c7c7">
                                        <tbody>
                                            <tr>
                                                <td colspan="5" height="10"></td>
                                            </tr>
                                            <tr>
                                                <td class="w30"  width="30"></td>
                                                <td class="w580"  width="580" valign="top">
                                                    
                                                </td>

                                                <td class="w30"  width="30"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" height="10"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="w640"  width="640" height="60"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>